@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	background: url(../images/bg.jpg) repeat;
}
a{ color:#000;text-decoration:none;}
a:hover{ color:#f00;text-decoration:none;}
.top td a{ font-size:16px; color:#FFF; text-decoration:none; font-weight:bold}
.top td a:hover{ font-size:16px; color:#F00; text-decoration:none; font-weight:bold}
.nr{
	background: url(../images/bg.gif) repeat;
	color: #000000;
}
.lh25{ line-height:25px;}
.pd10{
	padding: 10px;
	color: #000000;
}
.lh30{ line-height:30px;}
.title{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
}
.title a{
	color: #FFFFFF; text-decoration:none
}
.title a:hover{
	color: #ff0000; text-decoration:none
}
.xg td{ border-bottom:#CCC 1px dashed}
.bds{ border-bottom: #CCC 1px solid}
.foot{ color:#FFF; font-size:14px; letter-spacing:1px;}
.lm td{ font-size:14px; text-align:center;}
