*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
/*#top{
	background-color: #00B83F;
	height: 100px;
}
#bottom{
	background-color: #2B542C;
	height: 50px;
}
#middle{
	
}*/
#midLeft{
	width: 200px;
}
#midRigth{
	float: left;
	width: 600px;
	position: absolute;
}
a>span{
	font-size: 15px !important;
}
