*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
body{
}
.stu_score{
	height: 300px;
}
/*#top{
	background-color: #00B83F;
	height: 100px;
}*/
/*#bottom{
	background-color: #2B542C;
	height: 50px;
}*/
#middle{
	height: 500px;
}
#midLeft{
	overflow: auto;
	width: 200px;
	float: left;
}
#midRigth{
	float: left;
	background-color: #00B83F;
}
/*.content_wrap{
	width: auto;
}*/
/*a>span{
	font-size: 15px !important;
}*/
